.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon[data-bs-targer] {
    background-color: black;
    
}

.carousel-control-prev-icon, 
.carousel-control-next-icon[data-bs-targer] {
    background-color: black;
    
}

